<div *ngIf="book">
  <app-header title="Book id : {{book.ID}}" textOfButton="Update Book" (btnClick)="openUpdateDialog()"></app-header>

  <div class="book-details-container">
    <img class="book-details-image-container" src="http://localhost:8000/{{ book.image }}" alt="">

    <div class="book-details-infos-container">
      <div>
        <div><b>Title :</b></div>
        <div>{{book.title}}</div>
      </div>
      <div>
        <div><b>ISBN :</b></div>
        <div>{{book.isbn}}</div>
      </div>
      <div>
        <div><b>Author :</b></div>
        <div>{{book.author}}</div>
      </div>
    </div>
    <button class="btn" mat-raised-button style="background-color: #0074CC" (click)="goToBooks()">Go to all books</button>
  </div>

</div>
