header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 20px;
}

header div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.separator {
  height: 1px;
  border-width: 0;
  color: black;
  background-color: black;
}
