.add-form {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.space-between{
  display: flex;
  justify-content:space-between ;
}

mat-card-content{
  width: 400px;
}
