<div class="book">
  <div class="card-item">
    <div class="image-container">
      <a href="http://localhost:8000/{{ book.image }}" target="_blank">
        <img src="http://localhost:8000/{{ book.image }}" alt="" width="70px" height="100px">
      </a>
    </div>
    <div class="item-infos">
      <div class="item-infos-text">
        <div><b>Title : </b>{{book.title}}</div>
        <div><b>ISBN : </b>{{book.isbn}}</div>
        <div><b>Author : </b>{{book.author}}</div>
      </div>
      <div class="item-infos-actions">
        <mat-icon routerLink="{{book.ID}}">edit</mat-icon>
        <mat-icon  (click)="openDeleteDialogue(book)" color="warn">delete</mat-icon>
      </div>
    </div>
  </div>
</div>

