<div class="task">
  <h3>
    <div><strong>Title :</strong> {{ book.title }}</div>

    <div class="actions">
      <fa-icon
        [ngStyle]="{ color: 'red' }"
        [icon]="faTimes"
        (click)="onDelete(book)"
      ></fa-icon>
      <!-- <fa-icon [icon]="faEdit" (click)="onDelete(book)" ()></fa-icon> -->
      <!-- <a
        routerLink="{{ book.ID }}"
        class="linkrouter"
        [ngStyle]="{ color: '#444' }"
        ><fa-icon [icon]="faEdit"></fa-icon
      ></a> -->
    </div>
  </h3>

  <p>
    <br />
    <strong>Author :</strong> {{ book.author }} | <strong>Isbn :</strong>
    {{ book.isbn }} |
    <a href="http://localhost:8000/{{ book.image }}">View Image </a>
  </p>
  <p></p>
</div>
