.add-form {
  margin-bottom: 40px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #00000018;
  margin-bottom: 20px;

  background: #f4f4f4;
}
